header{
    background-color: #898A8E;
    background-size: 100%,65px;
    width: 100%;
    height: 65px;
    margin: 0 0;
    position: absolute;
    left: 0%;
    top: 0%;
    border-bottom: 2px solid black;
}
main{
    margin: 0;
    background-image:url("https://s3-alpha-sig.figma.com/img/95bf/649d/8eb03bd19c096659184625f13c998024?Expires=1684108800&Signature=KgrnrAi2eRd0PVZwTLA8rb9Ljol6SwqgwQGnO-BTIJjilqITXHJArvcYOYlHigVA531oZs4ZoWq~XpRSnaHFJI71VmwkaRgqGhdiniCQH19Qu~mIA67J5CMJF8drThr1jLdiY4tDGv2vcZCQhw-5fEAyFxMG4z3OhqvfHnn-ljocaDvdkaXf~CTNlN4FI4hazu3IMxcpVkLL2gEhYsWEppIPa0nYai5W8Nv-QgEV77zS2W2KmC4NomZbX5X4t64E5OhZFDDB9oxOw8gY7-HX7JnIccGTXR1EfGNjsp1MYyk4OFjDDrOrC6QRRPLXcg13OlA-YpdJKZQIWYZG7P-bRQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4") ;
    background-size:100% 1080px;
    background-repeat: no-repeat;
    width: 100%;
    height: 1080px;
    position: absolute;
    left: 0%;
    top: 66px;
}
body{
    margin: 0;
}
.news{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    color: #000000;
    font-size: 400%;
    top: -110%;
    left: 5%;
}
.photos{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    color: #000000;
    font-size: 400%;
    top: -110%;
    left: 42.5%;
}
.videos{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    color: #000000;
    font-size: 400%;
    top: -110%;
    left: 80%;
}
.video1{
    position: absolute;
    top: 15%;
    left: 2%;
}
.video2{
    position: absolute;
    top: 15%;
    left: 60%;
}